*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Sen', sans-serif;
}
#header{
height: 100vh;
position: relative;
}
.nav{
width: 100%;
height: 150px;
background: #fff;
display: flex;
align-items: center;
}
.nav-logo{
display: flex;
justify-items: center;

}
.nav-logo p{
text-transform: uppercase;
font-size: 30px;
line-height: 45px;
margin-left: 25px;
}
.burger-menu{
display: flex;
justify-content: space-between;
flex-direction: column;
width: 40px;
height: 20px;
}
.burger-line{
width: 100%;
height: 2px;
background-color: black;
}
.header-main{
width: 100%;
height: calc(100vh - 150px);
background: url(../img/bg/paris.jpg);
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
.header-headline{
text-transform: uppercase;
font-size: 70px;
color: #fff;
margin: auto;
}
.text-m{
text-transform: uppercase;
color: #fff;
text-align: center;
font-size: 40px;
}
.header-main img{
margin: auto;
}
.text-xs{
font-size: 15px;
text-align: center;
text-transform: uppercase;
color: #fff;
}
.header-scroll{
position: absolute;
bottom: 80px;
left: 0;
right: 0;
margin: auto;
}
.header-scroll img{
display: block;
margin: auto;
margin-bottom: 20px;
}
/* About section ================================== */
.section-headline{
text-transform: uppercase;
font-size: 60px;
color: #333333;
text-align: center;
}
.section-underline{
width: 200px;
height: 5px;
background: #e84c3d;
margin: 5px auto;
}
.section-description{
width: 50%;
margin: 40px auto;
text-align: center;
}
.about-items{
width: 400px;
height: 300px;
background: #f3f3f3;
display: flex;
justify-content: center;
align-items: center;
}
.about-items img{
display: block;
margin: auto;
}
.about-items p{
text-align: center;
margin-top: 20px;
}
.text-sm{
width: 70%;
margin: 20px auto;
}
/* ==== Scenes section */
#scenes{
background: #171f23;
display: grid;
grid-template-columns: 1fr 1fr;
padding: 0;
}
#scenes-left{
padding: 150px 0;
}
#scenes h2{
font-size: 40px;
text-transform: uppercase;
color: #fff;
text-align: center;
}
#scenes p{
margin: 30px auto;
text-align: center;
width: 80%;
color: #535556;
}
#scenes img{
width: 100%;
}
.btn{
padding: 15px 30px;
background: #e84c3d;
outline: none;
border: none;
text-transform: uppercase;
font-size: 18px;
color: #fff;
margin: 50px auto 0;
display: block;
}
/* Works section ========================================== */
#works{
padding: 150px 0 0;
}
.works-nav{
display: flex;
justify-content: center;
margin: 90px 0 40px;
}
.works-nav a{
text-decoration: none;
color: #575757;
text-transform: uppercase;
margin: 0 30px;
}
.works-items{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 10px;
}
.works-items img{
width: 100%;
height: 100%;
}
.works-sponsors{
background: #1c1c1c;
padding: 100px 0;
display: flex;
justify-content: center;
}
.works-sponsors a{
margin: 0 15px;
}
/* Personal section====================================== */
.personal-item{
display: grid;
grid-template-columns: 1fr 3fr;
grid-gap: 20px;
}
.personal-img{
width: 150px;
height: 150px;
border-radius: 50%;
display: block;
margin: 70px auto 30px;
}
.personal-left h3{
text-align: center;
text-transform: uppercase;
font-size: 25px;
}
.personal-left{
    background-color: #ebebeb;
}
.personal-left p{
text-align: center;
margin: 10px 0 25px;
text-transform: uppercase;
font-size: 18px;
}
.item-social{
display: flex;
justify-content: center;
}
.item-social img{
width: 20px;
height: 20px;
margin: 0 5px;
}
.personal-right{
padding: 70px 70px;
background-color: #ebebeb;
}
.personal-right h3{
text-transform: uppercase;
font-size: 30px;
}
.personal-right-p{
margin: 30px 0;
}
.skill{
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}
.skill p{
text-transform: uppercase;
font-weight: bolder;
}
.skills-percent{
width: 70%;
height: 3px;
background: #fff;
margin: auto;
margin-right: 30px;
}
.real-percent{
height: 3px;
background: #e84c3d;
}
#percent1{
width: 88%;
}
#percent2{
width: 92%;
}
#percent3{
width: 90%;
}
#percent4{
width: 98%;
}
/* Features section ============================================ */
#features{
background: #171f23;
padding: 60px 0;
}
.features-wrap{
    margin-top: 40px;
display: flex;
justify-content: space-between;
}
.dark-headline{
text-align: center;
text-transform: uppercase;
font-size: 48px;
color: #fff;
}
.features-underline{
    width: 100px;
    height: 2px;
    background: #404040;
    margin: 20px auto 40px;
}
.features-item img{
display: block;
margin: 0 auto 30px;
}
.features-item-p{
text-align: center;
color: #fff;
font-size: 24px;
font-weight: lighter;
}
.features-item-p1{
text-align: center;
font-size: 65px;
color: #fff;
font-weight: 100;
margin-top: 30px;
}
/* Post section =========================================== */
.posts-items{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;
}
.post{
background: #ebebeb;
padding-bottom: 35px;
}
.post-img{
width: 100%;
height: 300px;
}
.post-first-p{
font-size: 24px;
color: #5a5a5a;
margin: 35px 0 35px 25px;
}
.post-second-p{
margin: 0 25px 30px 25px;
color: #979797;
font-size: 18px;
}
.post-bottom{
margin: 0 25px 0 25px;
display: flex;
justify-content: space-between;
}
.post-bottom-time{
display: flex;
justify-content: center;
}
.post-bottom-img{
width: 15px;
height:15px;
margin: 0 10px;
}
.post-bottom-time p{
font-size: 14px;
color: #939393;
line-height: 15px;
}
/* Plan section =============================================== */
#plan{
background-color: #171f23;
}
.plan-wrap{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 5px;
}
#plan-item-1{
border: 1px solid #f6744b;
}
.plan-item-top{
background: #0e1316;
padding: 40px 0;
}
.plan-item-bottom{
background: #1f282c;
padding: 45px 0;
}
.plan-item-bottom ul{
list-style-type: none;
}
.plan-item-bottom li{
font-size: 18px;
color: #fff;
text-align: center;
margin: 10px auto;
}
.plan-item-bottom span{
font-weight: bolder;
}
.plan-item-p{
color: #fff;
text-transform: uppercase;
font-size: 18px;
margin: 0px auto 10px;
text-align: center;
}
.plan-item-p1{
font-size: 48px;
font-weight: lighter;
margin: 0 auto 00px;
}
.plan-btn{
margin: 75px auto 0;
}
/* Contact section ============================================*/
.contact-wrap{
width: 60%;
margin: 0 auto;
}
.contact-wrap-top{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 30px;
margin-bottom: 45px;
}
.contact-wrap-top input{
border: none;
border-bottom: 1px solid #adadad;
height: 40px;
width: 100%;
outline: none;
font-size: 18px;
}
.contact-wrap p{
text-transform: uppercase;
color: #696969;
font-size: 18px;
}
.contact-wrap textarea{
width: 100%;
height: 90px;
resize: none;
border: none;
border-bottom: 1px solid #adadad;
outline: none;
font-size: 18px;
padding-top: 10px;
}
/* Footer section ============================================*/
#footer{
background-color: #171f23;
padding: 60px 0;
}
.footer-logo{
display: block;
margin: 0 auto 5px;
}
#footer h2{
text-transform: uppercase;
font-size: 30px;
color: #fff;
text-align: center;
}
#footer p{
text-transform: uppercase;
font-size: 18px;
color: #fff;
text-align: center;
margin: 15px auto 20px;
}
/* Utility classes */
section:not(:first-child){
padding: 150px 0;
}
.container{
width: 70%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.about-proposition{
display: flex;
justify-content: space-between;
}
