*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Sen', sans-serif;
}
:root{
--grey-bg: #ebebeb;
--darkblue-bg: #171f23;
--dark-grey-color: #333333;
}
/* Header section ========================================================= */
#header{
height: 100vh;
}
.nav{
width: 100%;
height: 150px;
}
.nav-logo{
display: flex;
justify-items: center;
}
.nav-logo img{
margin-right: 25px;
}
.burger-menu{
width: 40px;
height: 20px;
flex-direction: column;
}
.burger-line{
width: 100%;
height: 2px;
background-color: black;
}
.header-main{
width: 100%;
padding: 0 30px;
height: calc(100vh - 150px);
background: url(../img/bg/paris.jpg);
background-size: cover;
align-items: center;
}
.header-main h1, .header-main p{
color: #fff;
}
.header-main p{
text-align: center;
}
.header-main img{
margin: auto;
}
.header-scroll{
position: absolute;
bottom: 80px;
left: 0;
right: 0;
margin: auto;
}
.header-scroll p{
text-align: center;
text-transform: uppercase;
color: #fff;
}
.header-scroll img{
display: block;
margin: auto;
margin-bottom: 20px;
}
/* About section ================================== */
.about-items{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}
.about-items div{
background: var(--grey-bg);
padding: 40px 45px 30px;
}
.about-items img{
display: block;
margin: auto;
height: 57px;
}
.about-items p{
text-align: center;
margin-top: 20px;
}
/* ==== Scenes section */
#scenes{
background: var(--darkblue-bg);
grid-template-columns: 1fr 1fr;
padding: 0;
}
#scenes-left{
padding: 150px 0;
}
#scenes h2{
color: #fff;
text-align: center;
}
#scenes p{
margin: 30px auto;
text-align: center;
width: 80%;
color: #535556;
}
#scenes img{
max-height: 100%;
min-height: 100%;
height: 100%;
width: 100%;
}
.btn{
padding: 15px 30px;
background: #e84c3d;
outline: none;
border: none;
text-transform: uppercase;
font-size: 18px;
color: #fff;
margin: 50px auto 0;
display: block;
}
/* Works section ========================================== */
#works{
padding: 150px 0 0;
}
.works-nav{
margin: 90px 0 40px;
}
.works-nav a{
text-decoration: none;
color: var(--dark-grey-color);
text-transform: uppercase;
margin: 0 30px;
}
.works-items{
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 10px;
}
.works-items div{
height: 20vw;
}
.works-items img{
width: 100%;
height: 100%;
}
.works-sponsors{
background: var(--darkblue-bg);
padding: 100px 0;
}
.works-sponsors a{
margin: 0 15px;
}
/* Staff section====================================== */
.staff-person{
grid-template-columns: 1fr 3fr;
grid-gap: 20px;
}
.staff-img{
width: 150px;
height: 150px;
border-radius: 50%;
display: block;
margin: 70px auto 30px;
}
.staff-left{
background-color: #ebebeb;
padding-bottom: 70px;
}
.staff-left h3{
text-align: center;
text-transform: uppercase;
}
.staff-left p{
text-align: center;
margin: 10px 0 25px;
text-transform: uppercase;
}
.item-social img{
width: 20px;
height: 20px;
margin: 0 5px;
}
.staff-right{
padding: 70px 70px;
background-color: #ebebeb;
}
.staff-right h3{
text-transform: uppercase;
font-size: 30px;
}
.staff-right-p{
margin: 30px 0;
}
.skill{
margin-bottom: 30px;
}
.skill p{
text-transform: uppercase;
font-weight: bolder;
}
.skill-percent{
width: 70%;
height: 3px;
background: #fff;
margin: auto;
margin-right: 30px;
}
.skill-percent-filling{
height: 3px;
background: #e84c3d;
}
#percent1{
width: 88%;
}
#percent2{
width: 92%;
}
#percent3{
width: 90%;
}
#percent4{
width: 98%;
}
/* Features section ============================================ */
#features{
background: var(--darkblue-bg);
padding: 60px 0;
}
.features-wrap{
margin-top: 40px;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.features-item img{
display: block;
margin: 0 auto 30px;
}
.features-item-description{
text-align: center;
color: #fff;
font-weight: lighter;
}
.features-item-quantity{
color: #fff !important;
margin-top: 30px;
}
/* Post section =========================================== */
.posts-items{
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;
}
.post{
background: var(--grey-bg);
padding-bottom: 35px;
}
.post-img{
width: 100%;
height: 300px;
}
.post-headline{
color: var(--dark-grey-color);
margin: 35px 0 35px 25px;
}
.post-description{
margin: 0 25px 30px 25px;
color: var(--dark-grey-color);
}
.post-bottom{
margin: 0 25px 0 25px;
}
.post-bottom-img{
width: 15px;
height:15px;
margin: 0 10px;
}
.post-bottom-p{
color: #939393;
line-height: 14px;
}
/* Plan section =============================================== */
#plan{
background-color: var(--darkblue-bg);
}
.plan-wrap{
grid-template-columns: repeat(4, 1fr);
grid-gap: 5px;
}
#plan-item-1{
border: 1px solid #f6744b;
}
.plan-item-top{
background: #0e1316;
padding: 40px 0;
}
.plan-item-bottom{
background: #1f282c;
padding: 45px 0;
}
.plan-item-bottom ul{
list-style-type: none;
}
.plan-item-bottom li{
font-size: 18px;
color: #fff;
text-align: center;
margin: 10px auto;
}
.plan-item-bottom span{
font-weight: bolder;
}
.plan-headline{
color: #fff;
text-transform: uppercase;
margin: 0px auto 10px;
text-align: center;
}
.plan-price{
color: #fff !important;
margin: 0 auto 00px;
}
.plan-btn{
margin: 75px auto 0;
}
/* Contact section ============================================*/
.contact-wrap{
width: 60%;
margin: 0 auto;
}
.contact-input{
grid-template-columns: 1fr 1fr;
grid-gap: 30px;
margin-bottom: 45px;
}
.contact-input input{
border: none;
border-bottom: 1px solid var(--dark-grey-color);
height: 40px;
width: 100%;
outline: none;
}
.contact-wrap p{
text-transform: uppercase;
color: var(--dark-grey-color);
}
.contact-wrap textarea{
width: 100%;
height: 90px;
resize: none;
border: none;
border-bottom: 1px solid var(--dark-grey-color);
outline: none;
padding-top: 10px;
}
/* Footer section ============================================*/
#footer{
background-color: var(--darkblue-bg);
padding: 60px 0;
}
.footer-logo{
display: block;
margin: 0 auto 5px;
}
#footer h2{
color: #fff;
text-align: center;
}
#footer p{
text-transform: uppercase;
color: #fff;
text-align: center;
margin: 15px auto 20px;
}
/* Utility classes */
section:not(:first-child){
padding: 150px 0;
}
.container{
width: 70%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
align-items: center;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.grid-container{
display: grid;
}
.about-proposition{
display: flex;
justify-content: space-between;
}
.section-description{
width: 50%;
margin: 40px auto;
}
.section-underline{
width: 200px;
height: 3px;
background: #e84c3d;
margin: 5px auto;
}
.dark-section-underline{
width: 100px;
height: 2px;
background: var(--dark-grey-color);
margin: 20px auto 40px;
}
.text-center{
text-align: center;
}
.text-xl{
font-size: 60px;
text-transform: uppercase;
color: #333333;
text-align: center;
}
.text-lg{
font-size: 40px;
text-transform: uppercase;
}
.text-md{
font-size: 25px;
}
.text-s{
font-size: 18px;
}
.text-xs{
font-size: 14px;
}
.dark-section-headline{
color: #fff;
}
/* Media */
@media screen and (max-width: 1650px){
    .skill-percent{
    width: 60%;
    }
    }
@media screen and (max-width: 1280px){
.section-description{
width: 80%;
}
.skill-percent{
width: 50%;
}
/* Utility classes */
.text-md {
font-size: 21px;
}
.text-xl{
font-size: 50px;
}
}
@media screen and (max-width: 1024px){
.section-description {
width: 100%;
}
.about-items{
grid-template-columns: 1fr;
}
#scenes{
grid-template-columns: 1fr;
}
#scenes-left{
grid-row-start: none;
}
#scenes img{
max-height: none;
}
.works-items{
grid-gap: 0px;
}
.works-nav a{
font-size: 16px;
margin: 0 10px;
}
.staff-person {
grid-template-columns: 1fr;
}
.features-wrap{
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-gap: 70px;
}
.posts-items{
grid-template-columns: 1fr;
grid-gap: 70px;
}
.plan-wrap{
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}
.contact-input {
grid-template-columns: 1fr;
}
}
@media screen and (max-width: 640px){
    section:not(:first-child),#scenes-left, #works, .works-sponsors{
    padding: 50px 0;
    }
    .container{
     width: 90%;
    }
    .text-xl{
     font-size: 40px;
    }
    .text-lg{
        line-height: 45px;
    font-size: 25px;
    }
    .works-nav a{
    font-size: 20px;
    margin: 10px 0;
    }
    .works-nav {
     flex-direction: column;
     align-items: center;
        margin: 50px 0 40px;
    }
    .works-items{
    grid-template-columns: 1fr;
    }
    .works-items div{
    height: 60vw;
    }
    .works-sponsors{
        align-items: center;
        flex-direction: column;
    }
    .works-sponsors a{
     margin: 15px 0;
    }
    .skill{
    display: block;
    }
    .skill-percent{
    width: 100%;
    margin: 10px 0;
    }
    .skill-percent-number{
    display: none;
    }
    .features-wrap{
    grid-template-columns: 1fr;
    grid-gap: 50px;
    }
    .contact-wrap{
    width: 90%;
    }
}
@media screen and (max-width: 425px){
.plan-wrap{
grid-template-columns: 1fr;
}
.staff-right{
 padding: 70px 20px;
}
}
